.body {
  width: 100%;
}

.orderInformation {
  width: 64%;
  margin: 0 auto;
}

.choiceAddress button {
  width: auto;
  height: auto;
  padding: 5px;
  box-sizing: border-box;
  font-size: 12px;
  border: 1px solid #ccc;
  background-color: #f2f2fe;
}

.addressList {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
}

.addressBlock {
  width: 237px;
  height: 105px;
  background: url("../assert/shopBlock.png");
  padding: 10px 15px;
  box-sizing: border-box;
  margin-right: 15px;
}

.addressBlock p {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.addressBlock p, .addressBlock span {
  font-size: 14px;
}

.confirmOrder {
  margin-top: 20px;
}

.orderHead {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-bottom: 20px;
}

.orderHead li {
  width: 17%;
  text-align: center;
  margin-right: 3px;
  border-bottom: 2px solid #b2d1ff;
  padding-bottom: 10px;
  font-size: 14px;
}

.orderBody>p {
  font-size: 12px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #80b2ff;
}

.shopBlockList {
  width: 100%;
  height: auto;
  background-color: #fbfcff;
  padding-top: 15px;
}

.shopBlock {
  width: 100%;
  height: auto;
  padding: 10px 10px;
  box-sizing: border-box;
}

.shopBlock ul {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.shopBlock ul li {
  width: 17%;
  height: auto;
  text-align: center;
  vertical-align: middle;
}

.shopBlock ul li:nth-child(1) {
  display: flex;
  justify-content: flex-start;
}

.shopBlock ul li:nth-child(1) img {
  width: 50px;
  height: 50px;
}

.shopBlock ul li:nth-child(1) p {
  font-size: 12px;
  text-align: left;
  margin-left: 10px;
}

.shopBlock ul li:nth-child(2) p {
  font-size: 12px;
  text-align: left;
}

.shopBlock ul li:nth-child(3), .shopBlock ul li:nth-child(4), .shopBlock ul li:nth-child(5) {
  font-size: 12px;
}

.shopBlock ul li:nth-child(6) {
  text-align: right;
  color: #ff0036;
  margin-right: 15px;
  font-size: 14px;
}

.logistics {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  background-color: #f2f7ff;
}

.logistics.left {
  width: 35%;
  height: auto;
  border-right: 2px solid #fff;
}

.logistics.left p {
  width: 100%;
  font-size: 12px;
  padding: 5px;
  box-sizing: border-box;
}

.logistics.left p input {
  width: 70%;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 3px;
  box-sizing: border-box;
  font-size: 12px;
}

.logistics.right {
  width: 65%;
  height: auto;
  display: block;
}

.logistics.right div {
  width: 100%;
  display: block;
  box-sizing: border-box;
}

.logistics.right div:nth-child(1) p {
  width: 100%;
  border-bottom: 2px solid #fff;
  font-size: 12px;
}

.logistics.right div p {
  padding: 5px 15px;
  box-sizing: border-box;
  font-size: 12px;
}

.logistics.right div p span {
  font-size: 12px;
}

.logistics.right div p span:nth-child(1) {
  margin-left: 15px;
}

.logistics.right div p span:nth-last-child(1) {
  color: #ff0036;
  float: right;
  margin-right: 12px;
  font-size: 14px;
}

.orderFoot {
  width: 100%;
  height: auto;
}

.orderFoot .total {
  width: 100%;
  height: 45px;
  background-color: #f2f7ff;
  border-top: 2px solid #fff;
  line-height: 45px;
  font-size: 12px;
  text-align: right;
  border-bottom: 1px dotted #80b2ff;
  vertical-align: middle;
}

.total span {
  margin-right: 26px;
  color: #ff0036;
  margin-left: 10px;
}

.flexContainer {
  justify-content: flex-end;
}

.flexContainer .submitOrder {
  width: 50%;
  height: auto;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #ff0036;
  text-align: right;
  margin-top: 10px;
}

.submitOrder p {
  font-size: 14px;
}

.submitOrder p:nth-child(1) span {
  font-size: 30px;
  color: #ff0036;
}

.flexContainer .btn {
  margin-top: 10px;
  width: 20%;
  border: none;
  background-color: #ff0036;
  color: #fff;
}
