body {
  background-image: url("../assert/shopContentBackground.jpg");
}

.center {
  width: 50%;
  height: auto;
  background-color: white;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.tabList {
  width: 75%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.tabList li {
  width: 25%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 2px solid #fff;
  font-size: 16px;
  cursor: pointer;
}

.tabList li:hover {
  border-bottom: 2px solid red;
}

.content {
  width: 75%;
  height: auto;
  background-color: #fff;
  margin: 100px auto 0 auto;
}

.phoneLogin {
  width: 100%;
  height: 470px;
  background-color: #fff;
}

.phoneLogin>.phone {
  width: 48%;
  margin: 0 auto;
}

.phoneLogin>.phone>span {
  margin-right: 10px;
}

.phoneLogin>.phone input, .userInfo input, .payMethod input {
  border: 1px solid #ccc;
  padding: 5px;
}

.phoneLogin>.btn, .userInfo>.btn, .payMethod>.btn {
  display: block;
  margin: 20px auto;
  background-color: #ff0036;
  color: #fff;
  width: 25%;
}

.userInfo, .payMethod {
  text-align: center;
}

.userInfo p, .payMethod p {
  margin-top: 20px;
}

.loginSucess {
  display: flex;
  justify-content: center;
}

.loginSucess em {
  font-size: 48px;
  color: green;
  margin-right: 10px;
  vertical-align: middle;
}

.protocol {
  width: 100%;
  height: 470px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-top: 2px solid red;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

.protocol>h3 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #3e3e3e;
}

.protocol span {
  font-weight: bold;
  font-size: 14px;
}

.protocol p {
  font-size: 14px;
  margin-top: 10px;
}

.protocol ol {
  padding-left: 20px;
  box-sizing: border-box;
  margin-top: 10px;
}

.protocol ol li {
  list-style-type: decimal;
  font-size: 14px;
  margin-top: 5px;
  font-weight: bold;
  text-decoration: underline;
}

.protocol ul {
  margin-top: 10px;
}

.protocol ul li {
  margin-top: 5px;
  color: red;
}

.protocol button {
  width: 180px;
  height: 36px;
  border-radius: 6px;
  background-color: red;
  color: white;
  font-weight: bold;
  display: block;
  margin: 10px auto;
  cursor: pointer;
}

.protocol em {
  position: absolute;
  right: 20px;
  top: 20px;
  color: red;
  font-size: 20px;
  cursor: pointer;
}
