/*
    店铺页样式
*/

* {
    margin: 0;
    padding: 0;
}

.shopTitle {
    width: 100%;
    height: 150px;
    background: url('../assert/bannerBackground.jpg') no-repeat center center;
}

.shopBanner {
    width: 55%;
    height: 100%;
    margin: 0 auto;
    background: url('../assert/shopBanner.jpg') repeat-x;
    position: relative;
}

.shopNavBar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: green;
}

.shopNavBar>li {
    display: block;
    font-size: 14px;
    color: #fff;
    line-height: 30px;
    font-weight: bold;
    background-color: #4a4f2f;
    padding: 0 15px;
    border-right: 1px solid green;
    float: left;
}

.shopContent {
    width: 100%;
    height: auto;
    background: url('../assert/shopContentBackground.jpg') repeat-y;
    padding-top: 10px;
}

.searchBar {
    width: 55%;
    height: 48px;
    background-color: #dbdbdb;
    margin: 0 auto;
    display: block;
    position: relative;
    padding-top:0.2%;
    box-sizing: border-box;
}

.searchBar>h3,
.searchBar>input,
.searchBar>button {
    display: inline-block;
    margin-left: 10px;
}

.searchBar>ul {
    position: absolute;
    right:0;
    top:25%;
}

.searchBar li {
    display: inline-block;
    margin-right: 10px;
}

.searchBar li:after {
    content: "";
}

.searchBar>input {
    border: 1px solid #ccc;
    background-color: #fff;
    width:100px;
}

.darkgreen {
    border-radius: 4px;
}

.lunbo {
    width: 55%;
    height: 475px;
    position: relative;
    margin: 20px auto;
}

.lunboComponent {
    width: 100%;
    height: 100%;
    background-color: red;
    overflow: hidden;
    position: relative;
}

.picList {
    width: 5000px;
    height: 100%;
    background-color: aqua;
}

.picList>li {
    width: 1046px;
    height: 100%;
    display: block;
    float: left;
}

.left,
.right {
    width: 50px;
    height: 50px;
    background-color: red;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}

.left {
    position: absolute;
    top: 45%;
    left: 0;
}

.right {
    position: absolute;
    top: 45%;
    right: 0;
}

.pointList {
    position: absolute;
    bottom: 8%;
    left: 0;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
}

.pointList>li {
    width: 18px;
    height: 18px;
    margin-left: 15px;
    background-color: red;
    border-radius: 50%;
}

.shopList{
    width:55%;
    height:auto;
    margin:10px auto;
    display: flex;
    justify-content: center;
}

.shop{
    width:24%;
    height:333px;
    background-color: aqua;
    margin-right:1%;
}

.shop:nth-child(4n){
    margin-right:0;
}